*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container{
max-width: 1200px;
margin: 0 auto;
}
body{
background-color: #302C42;
}

header{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
display: flex;
align-items: center;
justify-content: space-between;
gap: 42px;
list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    transition: 1.5s;
}
header nav ul li a:hover{
    width: 70px;
    height: 40px;
    padding: 20px;
    color: aqua;
    border-bottom: 2px solid rgb(24, 220, 255);
}
header div{
    display: flex;
    align-items: center;
    gap: 28px;
}
header .right button{
    width: 154px;
    height: 48px;
    border:2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: inherit;
    transition: 1.5s;
}
.right button:hover{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: black;
}
main .container{
    display: flex;
    gap: 270px;
}
main .container .section-text{
    width: 460px;
    height: 240px;
    margin-top: 100px;
}
main .section-text h1{
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
margin-bottom: 10px;
}
span{
    color:  #887db3; 
    font-size: 46px;       
}
.section-text p{
    color: #FFFFFF;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
width: 450;
height: 72;
top: 451px;
left: 84px;
opacity: 1;
margin-top: 36px;
}
.section-text button{
     width: 214px;
    height: 48px;
    border:2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: inherit;
    transition: 1.5s;
    margin-top: 56px;
}
.section-text button:hover{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: black;
}
.section-text img{
    margin-left: 10px;
    margin-top: 58px;
}
.box{
    display: flex;
    align-items: center;
}
.div1{
width: 1200px;
height: 150px;
background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 0px 4px 4px 0px #C0B7E803;
border-radius: 90px;
margin-top: 60px;
padding: 30px;
color: #FFFFFF;
gap: 60px;
display: flex;
align-items: center;
justify-content: center;
}
.left-dv{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-dv h2{
    margin-bottom: 8px;
}
.left-dv .vkt{
    height: 110px;
}
.left-dv p{
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #bebdbd;
}
.sk2{
    flex-wrap: wrap;
}
.dv3{
    display: flex;
    color: #FFFFFF;
    margin-top: 200px;
    gap: 322px;
}
.dv3 .top-left h1{
    width: 298px;
height: 44px;
opacity: 1;
top: 1055px;
left: 84px;
font-weight: 900;
font-style: Bold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 10px;

}
.dv3 .top-left h2{
font-weight: 100;
font-style: Light;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;

}
.dv3 .top-right p{
    width: 622px;
height: 118px;
opacity: 1;
top: 1051px;
left: 704px;
font-weight: 400;
font-size: 19px;
line-height: 100%;
letter-spacing: 0%;
color: #bebdbd;
}
.dv4{
    display: flex;
    gap: 118px;
    color: #FFFFFF;
    margin-top: -60px;
}
.dv4 h1{
font-weight: 700;
font-style: Bold;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 10px;
}
.dv4 h2{
font-weight: 300;
font-style: Light;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 42px;
}
.dv4 p{
width: 600px;
height: 228px;
opacity: 1;
top: 1435px;
left: 726px;
font-weight: 400;
font-size: 19px;
line-height: 100%;
letter-spacing: 0%;
color: #bebdbd;
}
.dv4 button{
      width: 214px;
    height: 48px;
    border:2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: inherit;
    transition: 1.5s;
    margin-top: 56px;
}
.dv4 button:hover{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: black;
}
.cards{
display: flex;
gap: 12px;
padding: 10px;

}
.card{
width: 310px;
height: 511px;
opacity: 1;
top: 2123px;
left: 84px;
border-radius: 40px;
background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
text-align: center;
gap: 20px;
padding: 20px;
}
.card h2{
    margin: 20px 0;
    color: #FFFFFF;
}
hr{
    margin: 20px 0; 
}
.sk7{
    margin-top: 100px;
    flex-wrap: wrap;
}
.card p{
width: 250px;
height: 57px;
opacity: 1;
top: 2454px;
left: 109px;
color: #bebdbd;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
margin: 20px 20px;
}
.card button{
     width: 154px;
    height: 48px;
    border:2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: inherit;
    transition: 1.5s;
}
.card button:hover{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: black;
}
.sk0{
    text-align: center;
    color: #FFFFFF;
    
}
form{
    margin-top: 50px;
    width: 1200px;
height: 1008px;
top: 4068px;
left: 84px;
gap: 15px;
opacity: 1;
border-radius: 100px;
background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
margin-left: 60px;
}
form h2{
margin-top: 51px;
font-weight: 300;
font-style: Light;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;

}
form h1{
    margin-top: 51px;
    font-size: 36px;
}
.inputs{
    display: flex;
    margin-top: 30px;
    gap: 15px;
    justify-content: center;
}
form input{
    width: 524px;
height: 72px;
top: 4362px;
left: 191px;
opacity: 1;
border-radius: 40px;
border-width: 2px;
background-color: inherit;
border: 1px solid white;
padding: 20px;
}
form input:focus{
    background-color: rgb(64, 177, 177);
}
.int{
    margin-top: 30px;
    width: 1068px;
    height: 72px;
    border-radius: 40px;
    border-width: 2px;
    background-color: inherit;
border: 1px solid white;
padding: 20px;
}
textarea{
    margin-top: 30px;
    width: 1068px;
    height: 220px;
    border-radius: 40px;
    border-width: 2px;
    background-color: inherit;
border: 1px solid white;
color: white;
padding: 20px;
}
form button{
     width: 184px;
    height: 48px;
    border:2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: inherit;
    transition: 1.5s;
    margin-top: 50px;
} 
form button:hover{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: black;
}
textarea:focus{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: black;
}
footer{
    padding: 40px;
    text-align: center;

}
footer img{
    margin-bottom: 40px;
}
footer a{
    text-decoration: none;
    color: black;
}